@import 'variables.scss';

$card-gap: 1rem;

mat-toolbar {
  position: sticky;
  top: 0;

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  button.loading {
    mat-icon {
      animation: spin 1s infinite;
    }
  }
}

.loading-error {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em;
  margin: 1em;
  background-color: white;
  display: inline-block;
  border-radius: 0.5em;

  mat-icon {
    margin-right: 0.5rem;
    font-size: 1.75em;
  }

  > * {
    font-size: 1.5em;
    vertical-align: middle;
  }
}

main {
  padding: 1em;

  section:not(:last-of-type) {
    padding-bottom: 1em;
    border-bottom: 1px solid #616161;
    margin-bottom: 1em;
  }

  .nodes {
    .nodes-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: $card-gap;

      @media screen and (max-width: 1100px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media screen and (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 550px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .node-container {
        position: relative;
        overflow: hidden;

        mat-card-title {
          margin-bottom: 1rem;

          span {
            display: inline-block;
            font-weight: 500;
          }
        }

        mat-card-content {
          margin-bottom: 4em;
        }

        mat-card-actions {
          position: absolute;
          bottom: 0.5rem;

          margin-bottom: 0;
          margin-left: unset;
          margin-right: unset;

          button {
            display: block;
          }
        }

        mat-card-footer {
          position: absolute;
          bottom: $card-gap;
          left: $card-gap;
          right: $card-gap;
        }
      }

      bt5-skeleton {
        height: 10em;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
