<mat-toolbar color="primary" class="mat-elevation-z8">
    <mat-icon class="mr">precision_manufacturing</mat-icon>
    <span>ROS Client</span>

    <span class="toolbar-spacer"></span>

    <button mat-icon-button class="reload-menu-button" (click)="showRefreshMenu = !showRefreshMenu">
        <mat-icon>settings</mat-icon>
    </button>

    <div class="reload-menu" [class.show]="showRefreshMenu">
        <mat-slide-toggle color="accent" [(ngModel)]="autoRefreshEnabled" [disabled]="isReloading">
            Autorefresh enabled
        </mat-slide-toggle>

        <select [(ngModel)]="refreshInterval" [disabled]="!autoRefreshEnabled || isReloading">
            <option [ngValue]="option.seconds" *ngFor="let option of refreshIntervalOptions">{{ option.label }}</option>
        </select>
    </div>

    <button mat-mini-fab color="accent" [class.loading]="isReloading" (click)="reload()" [disabled]="isReloading">
        <mat-icon>sync</mat-icon>
    </button>
</mat-toolbar>

<div class="loading-error mat-elevation-z6" *ngIf="hasError">
    <mat-icon color="warn">error</mat-icon>
    <span class="fg-warn">An error has occurred!</span>
</div>

<main *ngIf="!hasError">
    <section class="nodes">
        <h2>
            Nodes
            <ng-container *ngIf="data">({{ data.nodes.length }})</ng-container>
        </h2>

        <div class="nodes-container">
            <ng-container *ngIf="data">
                <bt5-node [node]="node" [disabled]="isReloading" *ngFor="let node of data.nodes"> </bt5-node>
            </ng-container>

            <ng-container *ngIf="!data && isReloading">
                <bt5-skeleton></bt5-skeleton>
                <bt5-skeleton></bt5-skeleton>
                <bt5-skeleton></bt5-skeleton>
                <bt5-skeleton></bt5-skeleton>
            </ng-container>
        </div>

        <p *ngIf="!isReloading && data && data.nodes.length === 0">
            <mat-icon class="vam">search_off</mat-icon>
            <span class="vam">No nodes found</span>
        </p>
    </section>

    <section class="topics">
        <h2>Topics</h2>
    </section>
</main>
