.topic-window {
  background: #2b2b2b;
  border-radius: 0.5em;
  overflow: hidden;

  .topic-header {
    font-size: 1.125rem;
    background: #1f1f1f;
    padding: 0.5rem;

    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  }

  .topic-content {
    max-height: 15em;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    .topic-item {
      white-space: pre-line;
      font-family: 'Courier New', Courier, monospace;
      padding: 0.5rem;

      &:first-child {
        animation: fade-in 0.5s;
      }

      &:not(:first-child) {
        border-bottom: 1px solid #666;
      }
    }

    > i {
      padding: 0.5rem;
    }
  }
}

@keyframes fade-in {
  0% {
    background: rgba(255, 255, 255, 0.2);
    opacity: 0.5;
  }
  100% {
    background: transparent;
    opacity: 1;
  }
}
