@import '~@angular/material/theming';
// https://material.io/design/color/

$primary: mat-palette($mat-green, 800);
$accent: mat-palette($mat-light-green, A700);
$warn: mat-palette($mat-red);

$card-gap: 1rem;
